
body{
  background-color: rgb(228, 228, 228);
}

.navLink
{
    color:#ffffff;
    text-decoration: none;
}

.notFound{
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  color: #3299b6;
}

.container {
  margin: 20px 20px;
}

.fruitItem{
  margin: 20px;

}

.fruitItem{
  display: flex;
  justify-content: center;
}


